version: "3.9"
services:
  auth:
    build: .
    image: aurora-auth:dev
    container_name: aurora-auth
    env_file:
      - .env.auth.dev
    ports:
      - "8080:8080"
    depends_on:
      - postgres
      - redis

  postgres:
    image: postgres:16-alpine
    environment:http://localhost:3000
      POSTGRES_DB: aurora_auth
      POSTGRES_USER: aurora
      POSTGRES_PASSWORD: aurora
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    command: ["redis-server", "--appendonly", "yes"]

volumes:
  pgdata:
